@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Raleway:wght@300&display=swap');

.App{
  background-color: black;
  color: white;
  font-family: Raleway, sans-serif;
  cursor: crosshair;
}