.MemberCard {
	width: 400px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.2);
	border-top: white 3px solid;
	color: white;
	margin: 50px 20px 0px 20px;
	padding: 10px;
	opacity: 0.5;
}

.MemberCard .prof-pic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.MemberCard:hover {
	opacity: 1;
}

.MemberCard #github {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0px 20px;
	background-color: rgb(214, 214, 214);
}
.MemberCard #linkedin {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0px 20px;
	background-color: black;
}

.MemberCard .no {
	display: none;
}

@media screen and (max-width: 1000px) {
	.MemberCard {
		width: 250px;
	}
}

@media screen and (max-width: 1000px) and (min-width: 620px) {
	.MemberCard h1 {
		font-size: 20px;
	}
}
