.Home #hero-text{
    font-size: 200px;
}

@media screen and (max-width: 1000px){
    .Home #hero-text{
        font-size: 170px;
    }
}

@media screen and (max-width: 700px){
    .Home #hero-text{
        font-size: 90px;
    }
}