.Home {
	overflow-x: hidden;
}

.Home #hero-text {
	font-size: 200px;
	margin-bottom: -10px;
}

.Home .filler {
	height: 40vh;
}

.Home .warning {
	color: cyan;
}

.Home .section {
	margin-bottom: 100px;
	padding: 5% 10%;
	margin: 0px 20% 10% 20%;
}

.Home .section p {
	font-size: 30px;
}

.Home .show1 {
	animation-name: showing;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
}

.Home .show2 {
	animation-name: showing;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

.Home .show3 {
	animation-name: showing;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-delay: 4s;
}

.Home #mudd {
	width: 70%;
	border: 2px solid white;
}

.Home #comercial {
	width: 75%;
}

@keyframes showing {
	0% {
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100%);
		transition: all 3s;
	}
	15% {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
		transition: all 4s;
	}
	90% {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
		transition: all 4s;
	}
	100% {
		opacity: 0;
		filter: blur(5px);
		transform: translateX(200%);
		transition: all 4s;
	}
}

@media screen and (max-width: 1000px) {
	.Home #hero-text {
		font-size: 170px;
	}
	.Home .section p {
		font-size: 20px;
	}
}

@media screen and (max-width: 700px) {
	.Home #hero-text {
		font-size: 70px;
	}
	.Home #comercial {
		width: 90%;
	}
}
