.Home{
    padding: 400px 0px;
    text-align: center;
}
.About{
    padding: 100px 0;
    text-align: center;
}
.Reservations{
    padding: 100px 0px;
    text-align: center;
}
.Contact{
    padding: 330px 0px;
    text-align: center;
}
.MemberCard{
    text-align: center;
}